.mainchange{
   position: relative;
  height: 980px;

}

.seconddivchange{
    position: absolute;
    top: 100px;
    right: 300px;
    height: 700px;
    width: 700px;
    background-color: rgb(231, 234, 240);
    border-radius: 30px;
    box-shadow: 22px 22px 22px  #888888;
}

.innerdivpsd{
    position: relative;
}

.innerdivsecond{
    position: absolute;
    top: 200px;
    left: 180px;
    height: 200px;
    width: 200px;
    border: 5px green;
    
}


.lable{
    font-size: 20px;
}

.inputpsd{

    height: 30px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.psdbtn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(159, 226, 159);
    right: 900px;
}
.btndivpsd{
    position: absolute;
    top: 380px;
    right: 160px;
}
.mainbackround{
    height: 987px;
    background: #3e4166;
}



.maindiv{
    margin-top: 130px;
    height: 700px;
    /* width: 100px; */
    border-radius: 12px;
    background: rgb(0,170,255);
     background: linear-gradient(351deg, rgba(0,170,255,0.6180847338935574) 0%, rgba(7,171,251,0.7021183473389356) 22%, rgba(62,176,222,0.7693452380952381) 51%, rgba(0,110,237,0.5984768907563025) 100%);

}
.headingdiv{
    background-color: #3de0af;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(60, 63, 62);
    border-radius: 10px;
    
}

.myicon{
    transform: scale(1.8);
    font-size: 500px
  }

.icondiv{
    text-align: center;
    justify-content: center;
    align-items: center;
    
   
}
.formdiv{
    margin-top: 100px;
}

.divLogin{
    background-image: url('https://img.etimg.com/thumb/width-1200,height-900,imgsize-437061,resizemode-1,msid-78201700/wealth/spend/planning-a-holiday-in-next-few-months-avail-these-discounts-on-flights-hotels-travel-packages-now.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
.colloginform{
    margin-top: 110px;
    background-image: url('../../imges/white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    align-items: center;
}




















