.iconpassword{
    transform: scale(1.8);
}

.fullPart_sin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.firstPart_sin {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    flex-basis: 100%;
}
.firstPart_sin img{
    height: 988px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
}
.secondPart_sin{
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}
.jass9_sin{
    position: relative;
    margin: 64px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 590px;
    top: 120px;
    line-height: 8;
}
.jass10_sin{
    margin: 80px;
    background-color: #f50057;
}
.MuiInputBase-input {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin-left: 0px !important;
}

#btn_sin:hover {
    background-color: #4f559c;
}

.divLogin{
    background-image: url('https://img.etimg.com/thumb/width-1200,height-900,imgsize-437061,resizemode-1,msid-78201700/wealth/spend/planning-a-holiday-in-next-few-months-avail-these-discounts-on-flights-hotels-travel-packages-now.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
   
}
.colloginform{
    margin-top: 100px;
    background-image: url('../../imges/white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    align-items: center;
    
}






















