.iconpassword{
    transform: scale(1.8);
}

.fullPart_sin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.firstPart_sin {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
}
.firstPart_sin img{
    height: 988px;
    opacity: 0.7;
}
.secondPart_sin{
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}
.jass9_sin{
    margin: 64px 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jass10_sin{
    margin: 80px;
    background-color: #f50057;
}
.MuiInputBase-input {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin-left: 0px !important;
}

#btn_sin:hover {
    background-color: #4f559c;
}
























