.booking {
  background: linear-gradient(to right, $color-primary, $color-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  height: 450px;

  &__container {
    width: $vw;
    justify-content: center;
    margin-top: 40px;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }
    &:nth-child(4) {
      background: $color-white;
      display: flex;
      border-radius: $border-radius;
      margin-top: 10px;

      @media only screen and (max-width: 56.25em) {
        flex-direction: column;
      }
    }

    &:nth-child(3) {
      color: $color-white;
      justify-content: flex-start;
      margin-top: 10px;
    }

    &:nth-child(2) {
      justify-content: flex-start;
      margin-top: 50px;

      .active {
        color: $color-primary;
        background-color: #fbe729;
      }
    }

    .p {
      justify-self: flex-start;
      border: 1px solid $color-light-grey;
      color: $color-light-grey;
      border-radius: 50rem;
      padding: 2px 10px;
      margin-right: 10px;
      transition: all 0.2s;
      cursor: pointer;
    }
  }

  &__map {
    height: 80vh;
    width: $vw;
    overflow: hidden;
    border-radius: $border-radius;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }
  }

  &__container,
  &__pickup,
  &__dropoff {
    display: flex;
    align-items: center;
    color: $color-grey;

    svg:nth-of-type(1),
    svg:nth-of-type(2) {
      margin-right: 5px;
    }
  }

  &__dropoff,
  &__pickup,
  &__date,
  &__passengers {
    flex: 1;
    padding: 8px 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    h2 {
      margin-left: 10px;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media only screen and (max-width: 56.25em) {
      width: 100%;
    }
  }

  &__pickup {
    border-right: 1px solid $color-light-grey;
    @media only screen and (max-width: 56.25em) {
      border: none;
    }
  }

  &__date {
    border-left: 1px solid $color-light-grey;
    flex: 1;
    padding: 8px 22px;
    @media only screen and (max-width: 56.25em) {
      border: none;
    }
  }

  &__button {
    background: $color-secondary;
    border: none;
    display: flex;
    color: $color-white;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0 19px;
    justify-content: center;

    & > *:nth-child(1) {
      margin-right: 3px;
      font-size: 3rem;
    }
    & > *:nth-child(2) {
      text-transform: uppercase;
    }

    &:hover {
      background: $color-secondary-dark;
    }
  }

  &__passengers {
    border-left: 1px solid $color-light-grey;

    @media only screen and (max-width: 56.25em) {
      border: none;
    }
    .passenger-counter {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;

      .passenger-btn {
        background: none;
        border: none;
        cursor: text;
        padding: 6px 0 7px;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .cards {
    width: $vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }

    &__top,
    &__bottom {
      display: flex;
      gap: 10px;
    }

    &__from,
    &__to,
    &__duration,
    &__distance,
    &__bookmark {
      background-color: $color-white;
      padding: 20px;
      border-radius: $border-radius;
      border-radius: 1px solid $color-light-grey;
    }

    &__from,
    &__to,
    &__duration,
    &__distance {
      flex: 1;
    }

    &__duration,
    &__distance {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__bookmark {
      cursor: pointer;
    }

    svg {
      height: 100%;
      width: 30px;
      fill: $color-secondary;
    }
  }
}
.MuiInput-root {
  display: block;
}
