.dashboard-cabs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__add-cabs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cab-form {
  background: $color-white;
  border-radius: $border-radius;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__input {
    display: flex;
    gap: 10px;

    label {
      width: 200px;
    }
  }

  &__container {
    // display: flex;
    // justify-content: center;
    gap: 20px;
  }
}

