.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    no-repeat center/cover
      url("../../imges/pml\ images-03.jpg");

  &__container {
    width: $vw;
    padding-bottom: 50px;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }
  }
}
