.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    no-repeat center/cover
      url("https://3.imimg.com/data3/WE/SQ/MY-1688751/delhi-airport-rishikesh-taxi-service-500x500.jpg");

  &__container {
    width: $vw;
    padding-bottom: 50px;

    @media only screen and (max-width: 75em) {
      //1200px
      width: $vw-big;
    }
  }
}
