body {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  line-height: 1.7;
}

.h2 {
  text-align: center;
  font-size: 2rem;

  &--1 {
    color: $color-white;
    font-weight: 400;
    font-size: 3.3rem;
  }

  &--2 {
    color: white;
    font-weight: 400;
    font-size: 3.3rem;
  }

  &--3 {
    font-size: 2.3rem;
  }
}

.h3 {
  font-size: 1.8rem;
  color: white;

  &--1 {
    color: $color-secondary;
  }

  &--2 {
    color: $color-white;
  }
}

.p {
  font-size: 1.8rem;

  &--1 {
    font-weight: 400;
  }
  &--2 {
    font-weight: 200;
  }
}

.MuiTypography-body2,
.MuiTypography-body1 {
  font-size: 1.6rem !important;
}

.span {
  color: $color-secondary;
}

.cab-card__details .h2--2{
    color: #092348;
}
.tags__safety .h3{
  color: #092348;
}
.tags__payment .h3{
  color: #092348;
}