// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #7e7e7e;
$color-dark-grey: #333333;
$color-light-grey: #ccc;

$color-primary: #003566;
$color-primary-dark: #001d3d;

$color-secondary: #ffd60a;
$color-secondary-dark: #ffc300;

// Font
$default-font-size: 1.6rem;

// Others
$border-radius: 3px;

$vw: 80vw;
$vw-big: 95vw;
