.footer{
    background: linear-gradient(to right, #003566, #001d3d);
    width: 100%;
    height: 400px;
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* justify-content: space-between; */
    color:white;
}

.footer>div{
    width: 22%;
    height: 100%;
    padding: 0 2%;
}

.footer>div:nth-child(1){
    width: 34%;
}

h3{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    color: rgb(105, 103, 103);
}

.footer_social_icons{
    margin-top: 10px;
}

.footer_social_icons>i{
    font-size: 40px;
    margin-right: 20px;
}

.icon_link_wrapper{
    display: flex;
    margin: 5px 0;
}

.icon_link_wrapper>i{
    font-size: 20px;
    margin-top: 5px;
    color: gray;
    margin-right: 20px;
}

.icon_link_wrapper span{
    color: rgb(155, 35, 35);
}



.footerbox{
    background: linear-gradient(to right, #003566, #001d3d);
    width: 100%;
    height: 100%;
    color:white;
}











