*{
  margin: 0px;
  padding: 0px;
}
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.text {
  font-family: inherit;
  font-weight: 700;
  line-height: inherit;
  text-rendering: optimizeLegibility;
}
.text-title {
  font-size: 1.25rem;
  color: #d32f2f;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  color: #252a32;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .scroll {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  margin: 2.5rem 0;
  cursor: default;
  overflow: scroll hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-padding: 0px 1.25rem;
  scrollbar-width: none;
}
.main .scroll::-webkit-scrollbar {
  display: none;
}
.main .scroll.active {
  cursor: grab;
  cursor: -webkit-grab;
}
.main .scroll .card {
  width: 30rem;
  height: auto;
  flex: 0 0 auto;
  margin: 0 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #252a32;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.main .scroll .card-image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 110%;
}
.main .scroll .card-image img.responsive {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .scroll .card-inner {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.card-inner h3{
  width: 100%;
  height: auto;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #252a32;
}
.card-inner p{
  width: 100%;
  height: auto;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgb(105, 103, 103);
}
p {
  margin-bottom: 0rem;
}